<table>
  <tr>
    <th>Group</th>
    <th>Name</th>
    <th>Members</th>
  </tr>
  <tr>
    <td><%=gone%></td>
    <td><%=gtwo%></td>
    <td><%=gthree%></td>
    <td><%=gfour%></td>
  </tr>
  <tr>
    <td>example</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
</table>
