<h1>All groups</h1>
<ul>
  <% @groups.each do |group| %>
    <li><%= group.name %><% group.users.each do |user| %>
      <%= user.name%> <%= user.surname %> <%= user.department %>
      <% end %>
      </li>
  <% end %>
</ul>
